/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// colors
$accentColor = #78cdc6
$textColor = #cecece
$borderColor = #78cdc6
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$bgColor = #444442

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 80%
$homePageWidth = 960px